@font-face {
    font-family: 'BLOKK';
    src: url('/fonts/BLOKKNeue-Regular.eot');
    src: url('/fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BLOKKNeue-Regular.woff') format('woff'),
         url('/fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Neuzeit';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/neuzeit-book.eot'); /* IE9 Compat Modes */
  src: url('fonts/neuzeit-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/neuzeit-book.woff') format('woff'), /* Modern Browsers */
       url('fonts/neuzeit-book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/neuzeit-book.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Neuzeit Heavy';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/neuzeit-book-heavy.eot'); /* IE9 Compat Modes */
  src: url('fonts/neuzeit-book-heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/neuzeit-book-heavy.woff') format('woff'), /* Modern Browsers */
       url('fonts/neuzeit-book-heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/neuzeit-book-heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Neuzeit';
}

html {
	-webkit-font-smoothing: antialiased;
}
