// Overlay Fade in

.search-overlay.visible , .new-project-overlay.visible {
	opacity: 1;
	visibility: visible;
}

.overlay-on {
	overflow: hidden;
	position: relative;
}

.new-project-overlay.visible {

	.new-project-title, .new-project-body, .close-modal {
		opacity: 1;
		transform: translateY(0px);
	}

	.close-modal {
		transition-delay: 0.3s;
	}

	.new-project-title {
		transition-delay: 0.4s;
	}

	.new-project-body {
		transition-delay: 0.5s;
	}

}

// Play with the animation delay timings - seems a bit off right now.
.new-project-overlay.project-added {
	.new-project-title, .new-project-body, .close-modal {
		opacity: 0;
		transform: translateY(-30px);
	}

	.close-modal {
		transition-delay: 0.1s;
	}

	.new-project-title {
		transition-delay: 0.2s;
	}

	.new-project-body {
		transition-delay: 0.3s;
	}

	.created-content {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

}