

// Colors 

$light-green: rgb(63,225,191);
$green: rgb(56,176,143);
$dark-green: rgb(21,174,143);

$yellow: rgb(228,186,63);

$light-grey: rgb(245,245,245);
$grey: rgb(167,169,172);

$dark-blue: rgb(34,42,51);

// Sidebar Width

$desktop-sidebar: 320px;
$mobile-sidebar: 300px;

// Animation

$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
$smooth-ease: cubic-bezier(0.455, 0.030, 0.515, 0.955);