.new-project-overlay {
	opacity: 0;
	position: absolute;
	height: 100%;
	width: calc(100% - 320px);
	background: rgba($dark-blue,0.9);
	top: 0;
	right: 0;
	bottom: 0;
	transition: opacity 0.3s , visibility 0.3s;
	visibility: hidden;
	z-index: 25;
}

.new-project-title, .new-project-body, .close-modal {
	opacity: 0;
	transform: translateY(30px);
	transition: transform 0.5s 0.3s $smooth-ease, opacity 0.5s $smooth-ease;
}

.created-content {
	opacity: 0;
	position: absolute;
	top: 45vh; // Stop the jump down if the content changes.
	left: 50%;
	transform: translate(-50%,-30%);
	text-align: center;
	transition: transform 0.5s 0.8s $smooth-ease, opacity 0.5s 0.8s $smooth-ease;
}

// Animation Over.

.created-content-title {
	font-size: 1.875em;
	color: rgb(255,255,255);
	margin-bottom: 1em;
}

.created-icon {
	max-width: 	50px;
	margin:  0 auto;
}

.new-project-title {
	margin-bottom: 0.5em;
	color: rgb(255,255,255);
	text-align: center;
	font-size: 1.875em;
	padding: 0.8em 1.600em;

	::-webkit-input-placeholder {
   	   color: darken($light-green,15%);
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: darken($light-green,15%);  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: darken($light-green,15%);  
	}

	:-ms-input-placeholder {  
	   color: darken($light-green,15%);  
	}

}

.project-title-input, .js-task-description-input, .subtask-input {
	background: none;
	border: none;
	font-family: inherit;
	outline: none;
	width: 100%;
}

.project-title-input, .subtask-input {
	font-size: 1em;
}

.left-hand-form-col, .right-hand-form-col {
	float: left;
}

.left-hand-form-col {
	width: 90%;
}
.right-hand-form-col {
	width: 10%;
}


.add-project {
	color: $light-green;
	float: right;
}

.project-title-input {
	text-align: center;
	color: rgb(255,255,255);
}


.new-project-body, .new-project-title {
	float: left;
	width: 100%;
}

.new-project-content {
	margin-top: 14em;
}


.close-modal {
	float: right;
	margin-bottom: 3em;
}

.close-modal img {
	max-width: 26px;
	width: 100%;
}