
				<!-- Add task form -->
				<template name="addTask">
					<li class="basic-task rounded-white-modal js-add-task-block add-task-block mix">
						<form action="#" class="clearfix">
								<div class="left-hand-form-col">
									<textarea placeholder="Add Task" class="js-task-description-input task-description-input" name="task-description" id="task-description"></textarea>
									<ul class="subtask-list">
										<li class="subtask"><input type="text" class="subtask-input" placeholder="Add Subtask"></li>
									</ul>
									<div class="form-select-fields">	
										<div class="task-names input-list-wrapper">
											<select name="names" multiple class="js-selector js-names-input names-input" placeholder="Add a user..."></select>
										</div>
										<div class="task-project input-list-wrapper">
											<select id="select-project" name="project" class="js-selector js-project-input project-input" placeholder="Select a project..."></select>
										</div>
									</div>
								</div>
								<div class="right-hand-form-col">
									<button type="submit" class="js-add-task heavy-text btn-reset add-project">Done</button>
								</div>
						</form>
					</li>
				</template>
				<!-- End add task form -->
