<template name="header">


			<div class="top-nav clearfix">
				<div class="content-inner-wrapper">
					<a href="#" class="menu js-menu-toggle">Menu</a>
					<div class="top-nav-wrapper">
						<ul class="filter-elements">
							<li class="circle-btn personal-filter">
								<img src="/img/helmet-icon.svg" alt="">
							</li>
							<li class="circle-btn global-filter">
								<img src="/img/universe-icon.svg" alt="">
							</li>
						</ul>
						<div class="search-icon">
							<div class="circle-btn">
								<img src="/img/search-icon.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>

</template>
