<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Planet</title>
	<link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<script src="/js/jquery.min.js"></script>
</head>

<!-- This is just some debugging stuff to look at the current data in the task list. -->
<style type="text/css">.code-overlay {position: fixed; top: 0; left: 0; width: 50%; height: 100%; overflow-y: scroll; background: rgba(0,0,0,0.6); font-family: monospace; color: rgb(224, 224, 224); font-size: 1em; z-index: 200; left: -50%; transition: left 0.2s ease-out; } .code-overlay.visible { left: 0; }
</style>
<script>
	$(document).on('keydown', function(e){ if (e.keyCode == 106 ) { e.preventDefault(); $('.code-overlay').toggleClass('visible'); } });
</script>
<pre class="code-overlay">
	{{$data | json 2}}
</pre>
<!-- End of debugging tools. -->

<body class="fade-in">
<div class="js-ajax-content">
	<div class="flex-container">
		<div class="side-nav">
			<img class="planet-logo" src="img/planet.svg" alt="">
			<a href="#" class="add-project-link">Add Project</a>

			<div class="projects-list--sidebar" id="projectList">
				<h2 class="projects-title sidebar-title">Projects<span class="sidebar-num">{{projects.length}}</span></h2>
				<ul class="sidebar-list">
					<li v-repeat="projects"><a class="ajaxed" href="#" v-on="click: changeProject(this, $event)">{{ text }}</a><span class="sidebar-num">12</span></li>
				</ul>
			</div>

			<div class="team-list--sidebar" id="teamList">
				<h2 class="team-title sidebar-title">Team Members<span class="sidebar-num">{{users.length}}</span></h2>
				<ul class="sidebar-list">
					<li v-repeat="users"><a href="#">@{{ text }}</a></li>
				</ul>
			</div>
		</div>

		<div class="content-area">
			<div class="top-nav clearfix">
				<div class="content-inner-wrapper">
					<a href="#" class="menu js-menu-toggle">Menu</a>
					<div class="top-nav-wrapper">
						<ul class="filter-elements">
							<li class="circle-btn personal-filter">
								<img src="img/helmet-icon.svg" alt="">
							</li>
							<li class="circle-btn global-filter">
								<img src="img/universe-icon.svg" alt="">
							</li>
						</ul>
						<div class="search-icon">
							<div class="circle-btn">
								<img src="img/search-icon.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-inner-wrapper content-load-area js-load content-hidden" id="js-load-content">

				<div class="task-list-title-area">
					<h2 class="task-list-title">{{title | capitalize}}</h2>
				</div>

				<ul class="task-list" id="taskList">

					<li class="basic-task rounded-white-modal add-task-block mix">
						<form action="#" class="clearfix">
								<div class="left-hand-form-col">
									<textarea placeholder="Add Task" class="js-task-description-input task-description-input" name="task-description" id="task-description"></textarea>
									<ul class="subtask-list">
										<li class="subtask"><input type="text" class="subtask-input" placeholder="Add Subtask"></li>
									</ul>
									<div class="form-select-fields">	
										<div class="task-names input-list-wrapper">
											<select name="names" multiple class="js-selector js-names-input names-input" placeholder="Add a user..."></select>
										</div>
										<div class="task-project input-list-wrapper">
											<select id="select-project" name="project" class="js-selector js-project-input project-input" placeholder="Select a project..."></select>
										</div>
									</div>
								</div>
								<div class="right-hand-form-col">
									<button type="submit" class="js-add-task heavy-text btn-reset add-project">Done</button>
								</div>
						</form>
					</li>

					<li data-scope="personal" class="basic-task rounded-white-modal clearfix mix" v-repeat="tasks" v-transition="expand">
						<div class="task-left-col">
							<div class="task-description-wrapper hidden-text">
								<textarea rows="1" class="task-description js-task-description-input" style="outline:none" type="text" v-model="content" v-autosize></textarea>
							</div>
							<span class="task-assigned-project">{{project}}</span>
							<span class="task-time-added">
								<span class="date">{{date | formatDate}}</span>
							</span>
							<a href="#" v-on="click: removeTask(this, $event)">Remove task</a>
							<form action="#" class="clearfix task-form">
								<ul class="subtask-list">
									<li class="subtask" v-repeat="subtasks">
										<input type="text" class="subtask-input" placeholder="Add Subtask" v-model="task" v-on="keydown: removeSubTask(this, $event) | key 8, keydown: addSubTask(this, $event) | key enter">
									</li>
									<li class="subtask">
										<input type="text" class="subtask-input" placeholder="Add Subtask" v-on="keydown: removeSubTask(this, $event) | key 8, keydown: addSubTask(this, $event) | key enter">
									</li>
								</ul>
								<div class="task-names input-list-wrapper" >
									<select v-selectize="team" id="test" multiple name="names" class="js-selector js-names-input names-input" style="width:100%" placeholder="Add a user..."></select>
								</div>
							</form>
						</div>
						<div class="task-right-col">
							<a href="#" class="js-task-status task-status" v-on="click: done = !done">
								<div class="toggle {{done ? 'done' : 'not-done'}}" >
								  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								     viewBox="0 0 56.7 57" enable-background="new 0 0 56.7 57" xml:space="preserve">
								  <path class="retract" fill="none" stroke="#f1f1f1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
								    M36,6.3c5.7,2.1,10.2,6.2,12.9,11.1"/>
								  <path fill="none" stroke="#f1f1f1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
								    M48.9,17.4c3.1,5.8,3.9,12.9,1.4,19.7c-4.6,12.4-18.4,18.8-30.8,14.3S0.7,33,5.2,20.5S23.6,1.7,36,6.3"/>
								  <polyline class="tick" fill="none" stroke="#f1f1f1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
								    20.3,25.4 28.6,33.9 46.7,8.3 "/>
								  </svg>
								</div>
							</a>
						</div>
<!-- 						<div class="clearfix data" style="width: 100%; float: left; margin-top: 1em;">
							<pre>data: {{$data | json 2}}</pre>
						</div> -->
					</li>
				</ul>
			</div>

			<div class="search-overlay">
				<div class="overlay-content content-inner-wrapper">
					<div class="search">
						<input type="text">
					</div>
				</div>
			</div>

			<div class="new-project-overlay">
				<div class="new-project-content content-inner-wrapper">
					<a href="" class="close-modal">
						<img src="img/close.svg" alt="close">
					</a>
					<form action="#">
						<div class="new-project-title rounded-green-modal">
							<input class="project-title-input" type="text" placeholder="Add Project">
						</div>
						<div class="new-project-body rounded-white-modal">
							<div class="left-hand-form-col">
								<textarea placeholder="Add Task" class="task-description-input" name="task-description" id="task-description" ></textarea>
								<ul class="subtask-list">
									<li class="subtask"><input type="text" class="subtask-input" placeholder="Add Subtask"></li>
								</ul>
								<div class="form-select-fields">	
									<div class="task-names input-list-wrapper">
										<select id="select-names" name="names[]" multiple class="js-names-input names-input untrasformed" style="width:100%" placeholder="Add a user...">
										</select>
									</div>
								</div>
							</div>
							<div class="right-hand-form-col">
								<button class="js-add-project heavy-text btn-reset add-project">Done</button>
							</div>
						</div>
					</form>
				</div>

				<div class="created-content">
					<h2 class="created-content-title">Complete</h2>
					<svg class="created-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 91 88.9" enable-background="new 0 0 91 88.9" xml:space="preserve">
						<circle fill="#3FE1BF" cx="45.5" cy="44.4" r="44.4"/>
						<g>
							<path fill="#F1F1F2" d="M64.6,34.6c-0.6,0.3-0.9,1-0.7,1.7c4.5,10.2-0.1,22.1-10.3,26.6c-4.9,2.2-10.4,2.3-15.4,0.4
								c-5-1.9-9-5.7-11.2-10.6C22.6,42.4,27.2,30.5,37.4,26c2.7-1.2,5.5-1.8,8.4-1.7c2.1,0,4.2,0.4,6.2,1.1c0.7,0.2,1.4-0.1,1.6-0.8
								c0.2-0.7-0.1-1.4-0.8-1.6c-2.3-0.8-4.6-1.2-7-1.2c-3.3-0.1-6.5,0.6-9.5,1.9c-5.5,2.5-9.8,6.9-12,12.6s-2,11.8,0.4,17.4
								c3.8,8.5,12.1,13.5,20.8,13.5c3.1,0,6.2-0.6,9.2-1.9c11.5-5.1,16.6-18.5,11.6-30C66,34.6,65.3,34.3,64.6,34.6z"/>
							<path fill="#F1F1F2" d="M40.1,39.4c-0.5-0.5-1.3-0.6-1.8-0.1c-0.5,0.5-0.6,1.3-0.1,1.8l7,7.9c0.2,0.3,0.6,0.4,1,0.4c0,0,0,0,0.1,0
								c0.4,0,0.7-0.2,1-0.5l16.5-23.5c0.4-0.6,0.3-1.4-0.3-1.8c-0.6-0.4-1.4-0.3-1.8,0.3L46,46L40.1,39.4z"/>
						</g>
					</svg>
				</div>
			</div>

		</div>
	</div>
</div>
	<script src="js/vue.js"></script>
    <script src="js/vendor/jquery.cssAnimateAuto.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/perfect-scrollbar.jquery.js"></script>
	<script src="js/vendor/autosize.min.js"></script>
	<script src="js/vendor/selectize.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/data.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
</body>
</html>