<div class="task-list-title-area">
	<h2 class="task-list-title">New Project</h2>
</div>

<ul class="task-list">
	<li class="basic-task rounded-white-modal add-task-block mix">
		<form action="#" class="clearfix">
				<div class="left-hand-form-col">
					<textarea placeholder="Add Task" class="task-description-input" name="task-description" id="task-description" ></textarea>
					<ul class="subtask-list">
						<li class="subtask"><input type="text" class="subtask-input" placeholder="Add Subtask"></li>
					</ul>
					<div class="form-select-fields">	
						<div class="task-names input-list-wrapper">
							<select id="select-names-test" name="names[]" multiple class="js-selector js-names-input names-input" placeholder="Add a user..."></select>
						</div>
						<div class="task-project input-list-wrapper">
							<select id="select-project" name="project[]" class="js-selector js-project-input project-input" placeholder="Select a project..."></select>
						</div>
					</div>
				</div>
				<div class="right-hand-form-col">
					<button class="js-add-project heavy-text btn-reset add-project">Done</button>
				</div>
		</form>
	</li>
	<li data-scope="personal" class="basic-task rounded-white-modal clearfix mix">
		<div class="task-left-col">
			<p class="task-description" contentEditable="true" style="outline:none">You lived before you met me?! OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew. I had more, but you go ahead. Bite my shiny metal ass. With gusto.</p>
			<span class="task-assigned-project">Substance</span>
			<span class="task-time-added"><span class="date">Last Week</span>,<span class="time">11:09</span></span>
			<form action="#" class="clearfix task-form">
					<ul class="subtask-list">
						<li class="subtask"><input type="text" class="subtask-input" placeholder="Add Subtask"></li>
					</ul>
					<div class="task-names input-list-wrapper">
						<select id="select-names-test" name="names[]" multiple class="js-selector js-names-input names-input" style="width:100%" placeholder="Add a user..."></select>
					</div>
			</form>
		</div>
		<div class="task-right-col">
			<a href="#" class="js-task-status task-status">
				<div class="toggle">
				  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				     viewBox="0 0 56.7 57" enable-background="new 0 0 56.7 57" xml:space="preserve">
				  <path class="retract" fill="none" stroke="#f1f1f1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				    M36,6.3c5.7,2.1,10.2,6.2,12.9,11.1"/>
				  <path fill="none" stroke="#f1f1f1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				    M48.9,17.4c3.1,5.8,3.9,12.9,1.4,19.7c-4.6,12.4-18.4,18.8-30.8,14.3S0.7,33,5.2,20.5S23.6,1.7,36,6.3"/>
				  <polyline class="tick" fill="none" stroke="#f1f1f1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
				    20.3,25.4 28.6,33.9 46.7,8.3 "/>
				  </svg>
				</div>
			</a>
		</div>
	</li>
</ul>