@charset "UTF-8";
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'BLOKK';
  src: url("/fonts/BLOKKNeue-Regular.eot");
  src: url("/fonts/BLOKKNeue-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/BLOKKNeue-Regular.woff") format("woff"), url("/fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Neuzeit';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/neuzeit-book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/neuzeit-book.eot?#iefix") format("embedded-opentype"), url("fonts/neuzeit-book.woff") format("woff"), url("fonts/neuzeit-book.ttf") format("truetype"), url("fonts/neuzeit-book.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Neuzeit Heavy';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/neuzeit-book-heavy.eot");
  /* IE9 Compat Modes */
  src: url("fonts/neuzeit-book-heavy.eot?#iefix") format("embedded-opentype"), url("fonts/neuzeit-book-heavy.woff") format("woff"), url("fonts/neuzeit-book-heavy.ttf") format("truetype"), url("fonts/neuzeit-book-heavy.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
body {
  font-family: 'Neuzeit'; }

html {
  -webkit-font-smoothing: antialiased; }

*, *:after, *:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.top-nav {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  margin-bottom: 8em; }

.top-nav-wrapper {
  float: right; }

.circle-btn {
  height: 38px;
  width: 38px;
  padding: 7px;
  border-radius: 40px;
  background: gainsboro; }
  .circle-btn img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; }

.filter-elements, .search-icon {
  float: left; }

.filter-elements li {
  display: inline-block;
  float: left;
  margin-right: 20px; }
  .filter-elements li:last-of-type {
    margin-right: 0; }

.personal-filter {
  background: #e4ba3f; }

.global-filter {
  background: #38b08f; }

.search-icon {
  margin-left: 100px;
  cursor: pointer; }

.search-icon .circle-btn {
  background: #222a33; }

.search-icon img {
  width: 80%; }

.search-icon:after {
  position: absolute;
  background: rgba(228, 186, 63, 0.9);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  border-radius: 50%;
  width: 0vw;
  height: 0vh;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0s 0.5s, visibility 0s 0.5s; }

.search-icon.expanded:after {
  height: 300vw;
  width: 300vw;
  opacity: 0;
  visibility: hidden;
  z-index: -1; }

.search-icon {
  position: relative;
  z-index: 20; }

@media all and (min-width: 900px) {
  .menu {
    display: none; } }
.rounded-white-modal {
  padding: 1.5em 3em;
  background: white;
  border-radius: 7px; }

.rounded-green-modal {
  padding: 1.5em 3em;
  background: #3fe1bf;
  border-radius: 7px; }

.btn-reset {
  background: none;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer; }

.basic-task {
  margin-bottom: 2em;
  color: #a7a9ac;
  word-wrap: break-word;
  position: relative;
  height: 88px;
  cursor: pointer;
  overflow: hidden; }

.basic-task.is-opened {
  overflow: visible; }
  .basic-task.is-opened .task-description {
    white-space: normal; }

.task-form {
  margin-top: 1.55em;
  padding-top: 1.5em;
  border-top: 1px solid gainsboro; }

.basic-task.list:before {
  opacity: 1; }

.basic-task:before {
  content: '';
  width: 31px;
  height: 20px;
  background: url(/img/list.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 35px;
  right: 88px;
  opacity: 0;
  transition: opacity 0.2s ease-out; }

.task-status {
  position: absolute;
  right: 17px;
  top: 17px; }
  .task-status img {
    width: 55px;
    margin: 0 auto;
    display: block; }
  .task-status .finshed {
    display: none; }

.task-left-col {
  width: 80%;
  float: left; }

.task-right-col {
  width: 20%;
  float: right; }

.task-list-title {
  font-size: 1.875em;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 0.25em;
  margin-bottom: 1em; }

.task-description {
  overflow: hidden;
  width: 100%;
  margin-bottom: 0.5em;
  line-height: 1.2;
  height: 1.2em; }

.task-assigned-project {
  text-transform: uppercase;
  color: #15ae8f;
  margin-right: 0.5em; }

.task-time-added {
  text-transform: uppercase;
  font-size: 0.813rem;
  letter-spacing: 0.1em; }
  .task-time-added .time {
    margin-left: 0.2em; }

.task-description-input {
  font-size: 1.313em;
  color: #a7a9ac;
  resize: none;
  min-height: 100px;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 1em; }

.left-hand-form-col, .right-hand-form-col {
  float: left; }

.left-hand-form-col {
  width: 90%; }

.right-hand-form-col {
  width: 10%; }

.form-select-fields .input-list-wrapper {
  width: 48.5%;
  float: left; }

.form-select-fields .input-list-wrapper:nth-of-type(2n) {
  margin-left: 3%; }

.form-select-fields .input-list-wrapper:only-of-type {
  width: 100%; }

.add-task-block .task-description-input {
  padding-top: 0.4em; }

.input-list-wrapper {
  background: whitesmoke;
  display: table;
  padding: 0.4em;
  width: 100%;
  padding-left: 50px;
  border-radius: 5px;
  position: relative;
  z-index: 200;
  color: #a7a9ac; }

.task-project.input-list-wrapper {
  padding: 0.67em;
  padding-left: 50px; }

.selectize-control.single .item {
  padding: 0.2em 0; }

.task-names:before, .task-project:before {
  content: '';
  height: 19px;
  width: 25px;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute; }

.task-project:before {
  background-image: url(img/project.svg); }

.task-names:before {
  background-image: url(img/person.svg); }

.selectize-control.multi .selectize-input > input {
  min-height: 30px;
  line-height: 28px; }

.selectize-control.single .selectize-input.not-full {
  padding-top: 2px; }

.subtask-list {
  margin-bottom: 1em; }
  .subtask-list li {
    margin-bottom: 1em; }
  .subtask-list .subtask {
    background: whitesmoke;
    padding: 0.65em;
    color: #a7a9ac;
    border-radius: 4px;
    padding-left: 50px;
    position: relative; }
    .subtask-list .subtask:before {
      content: '';
      height: 15px;
      width: 15px;
      left: 2.5%;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      background-image: url(img/plus.svg);
      background-size: 100%;
      position: absolute; }

.js-load .task-list, .js-load .task-list-title {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: opacity 0.5s, -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1; }

.js-load.content-hidden .task-list, .js-load.content-hidden .task-list-title {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0; }

.loader {
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: fade-in 0.3s ease-out;
  animation: fade-in 0.3s ease-out; }

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite; }

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }
@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite; }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }
@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }
.mr-planet {
  -webkit-animation: float 5s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.helmet {
  transform-origin: center center; }

.right-arm {
  transition: transform 2s ease-in-out;
  transform: rotate(0deg);
  transform-origin: 26% 14%;
  position: relative; }

.left-arm {
  transform-origin: 70% 15%; }

.right-leg {
  transform-origin: 0% 5%; }

.left-leg {
  transform-origin: 15% 0%; }

.mr-planet .helmet {
  -webkit-animation: rotate 5s infinite cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation-delay: 0s; }

.mr-planet .right-leg,
.mr-planet .left-leg {
  -webkit-animation: swing 5s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation-delay: 0.5s; }

.mr-planet .left-leg {
  -webkit-animation-delay: 0.4s; }

.mr-planet .right-arm,
.mr-planet .left-arm {
  -webkit-animation: swing 5s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation-delay: 0.2s; }

.mr-planet .left-arm {
  -webkit-animation-delay: 0.3s; }

.mr-planet-svg-wrapper.away {
  transform: translate(-200%, -200%);
  transition: transform 2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px) translateZ(0); }
  40% {
    -webkit-transform: translateY(20px) translateZ(0); }
  100% {
    -webkit-transform: translateY(0px) translateZ(0); } }
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0); }
  40% {
    -webkit-transform: rotate(5deg) translateZ(0); }
  100% {
    -webkit-transform: rotate(0deg) translateZ(0); } }
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0); }
  40% {
    -webkit-transform: rotate(20deg) translateZ(0); }
  100% {
    -webkit-transform: rotate(0deg) translateZ(0); } }
.search-overlay.visible, .new-project-overlay.visible {
  opacity: 1;
  visibility: visible; }

.overlay-on {
  overflow: hidden;
  position: relative; }

.new-project-overlay.visible .new-project-title, .new-project-overlay.visible .new-project-body, .new-project-overlay.visible .close-modal {
  opacity: 1;
  transform: translateY(0px); }
.new-project-overlay.visible .close-modal {
  transition-delay: 0.3s; }
.new-project-overlay.visible .new-project-title {
  transition-delay: 0.4s; }
.new-project-overlay.visible .new-project-body {
  transition-delay: 0.5s; }

.new-project-overlay.project-added .new-project-title, .new-project-overlay.project-added .new-project-body, .new-project-overlay.project-added .close-modal {
  opacity: 0;
  transform: translateY(-30px); }
.new-project-overlay.project-added .close-modal {
  transition-delay: 0.1s; }
.new-project-overlay.project-added .new-project-title {
  transition-delay: 0.2s; }
.new-project-overlay.project-added .new-project-body {
  transition-delay: 0.3s; }
.new-project-overlay.project-added .created-content {
  opacity: 1;
  transform: translate(-50%, -50%); }

.toggle svg {
  display: block;
  margin: 0 auto;
  width: 35px; }

.toggle {
  cursor: pointer;
  background: #ee5626;
  padding: 0.6em;
  border-radius: 100%;
  display: table;
  width: 100%;
  -webkit-transition: background 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.toggle.done {
  background: #4ae4bf; }

.tick {
  stroke-dasharray: 44;
  stroke-dashoffset: 44; }

.done .retract {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  -webkit-animation: retract 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1;
  animation: retract 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1; }

.done .tick {
  -webkit-animation: tick 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1;
  animation: tick 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1; }

@-webkit-keyframes tick {
  from {
    stroke-dashoffset: 44; }
  to {
    stroke-dashoffset: 0; } }
@keyframes tick {
  from {
    stroke-dashoffset: 44; }
  to {
    stroke-dashoffset: 0; } }
@-webkit-keyframes retract {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 20; } }
@keyframes retract {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 20; } }
.fade-out-down {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; }

.fade-out {
  opacity: 0; }

.basic-task {
  transition: transform 0.3s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.content-load-area.personal .basic-task {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateX(-30%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.3s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.3s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
.content-load-area.personal .basic-task[data-scope="personal"], .content-load-area.personal .add-task-block {
  visibility: visible;
  height: 88px;
  opacity: 1;
  margin-bottom: 2em;
  padding: 1.5em 3em;
  transform: translateX(0); }

.content-inner-wrapper {
  max-width: 945px;
  width: 90%;
  margin: 0 auto; }

.content-area {
  width: calc(100% - 320px);
  background: whitesmoke;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }

html {
  background: #222a33; }

.side-nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 30%;
  max-width: 320px;
  padding: 20px;
  background: #222a33; }

.add-project-link {
  width: 100%;
  background: #29313e;
  display: block;
  padding: 30px;
  text-decoration: none;
  color: white;
  border-radius: 7px;
  position: relative; }
  .add-project-link:after {
    content: '';
    height: 15px;
    width: 15px;
    left: 5.5%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-image: url(img/plus.svg);
    background-size: 100%;
    border-radius: 50%;
    position: absolute; }

.planet-logo {
  margin: 0 auto;
  width: 35%;
  display: block;
  padding-top: 4.250em;
  padding-bottom: 6.875em; }

.sidebar-title, .sidebar-list li, .add-project-link {
  padding-left: 50px; }

.sidebar-title, .heavy-text, .task-assigned-project {
  font-weight: bold;
  font-family: 'Neuzeit Heavy';
  text-transform: uppercase;
  font-size: 0.813rem;
  letter-spacing: 0.1em; }

.sidebar-title {
  color: #565c63;
  position: relative;
  margin-bottom: 1.25em;
  padding-top: 7px;
  padding-bottom: 7px; }
  .sidebar-title:after {
    content: '';
    height: 30px;
    width: 21px;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute; }

.projects-title:after {
  background-image: url(img/planet-icon.svg); }

.team-title:after {
  background-image: url(img/team-icon.svg);
  width: 16px;
  left: 5%; }

.sidebar-list li {
  color: #8a8e93; }

.sidebar-list li a {
  color: inherit;
  text-decoration: none; }

.sidebar-num {
  float: right;
  color: inherit; }

.projects-list--sidebar, .add-project-link {
  margin-bottom: 1.875em; }

.projects-list--sidebar li {
  padding-top: 7px;
  margin-bottom: 5px;
  padding-bottom: 7px;
  position: relative; }
  .projects-list--sidebar li:after {
    content: '';
    height: 15px;
    width: 15px;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border: 2px solid #8a8e93;
    border-radius: 15px;
    position: absolute; }
  .projects-list--sidebar li:before {
    content: '';
    height: 7px;
    width: 7px;
    left: 6.3%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background: #8a8e93;
    border-radius: 15px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-out; }
  .projects-list--sidebar li:hover:before {
    opacity: 1; }

.team-list--sidebar li {
  padding-top: 7px;
  margin-bottom: 10px;
  padding-bottom: 7px;
  position: relative; }
  .team-list--sidebar li:after {
    content: '';
    height: 27px;
    width: 27px;
    left: 3.5%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-image: url(img/team-member.jpg);
    background-size: 100%;
    border-radius: 50%;
    position: absolute; }

@media all and (max-width: 900px) {
  .side-nav {
    max-width: 100%;
    width: 300px;
    position: fixed;
    left: -300px;
    z-index: 20;
    height: 100%;
    bottom: 0;
    top: 0;
    transition: left 0.3s ease-in-out; }

  .side-nav.active {
    left: 0; }

  .content-area {
    width: 100%; } }
.login-area {
  background: #27313e; }

.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

body {
  transition: opacity 0.3s ease-out;
  opacity: 1; }

.login-form h2 {
  color: white;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  transition-delay: 1.5s; }

.login-form input {
  background: #4ae4bf;
  padding: 0.75em 2em;
  border: none;
  width: 300px;
  font-family: inherit;
  font-size: 1em;
  transition-delay: 1.3s;
  outline: none; }

.mr-planet {
  width: 500px;
  position: absolute;
  right: 5%;
  top: 20%;
  overflow: visible; }
  .mr-planet svg {
    margin: 0 auto;
    display: block;
    overflow: visible;
    width: 400px; }

.new-project-overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(34, 42, 51, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s , visibility 0.3s;
  visibility: hidden;
  z-index: 25; }

.new-project-title, .new-project-body, .close-modal {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.5s 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.created-content {
  opacity: 0;
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  transition: transform 0.5s 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.5s 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.created-content-title {
  font-size: 1.875em;
  color: white;
  margin-bottom: 1em; }

.created-icon {
  max-width: 50px;
  margin: 0 auto; }

.new-project-title {
  margin-bottom: 0.5em;
  color: white;
  text-align: center;
  font-size: 1.875em;
  padding: 0.8em 1.600em; }
  .new-project-title ::-webkit-input-placeholder {
    color: #1db797; }
  .new-project-title :-moz-placeholder {
    /* Firefox 18- */
    color: #1db797; }
  .new-project-title ::-moz-placeholder {
    /* Firefox 19+ */
    color: #1db797; }
  .new-project-title :-ms-input-placeholder {
    color: #1db797; }

.project-title-input, .task-description-input, .subtask-input {
  background: none;
  border: none;
  font-family: inherit;
  outline: none;
  width: 100%; }

.project-title-input, .subtask-input {
  font-size: 1em; }

.left-hand-form-col, .right-hand-form-col {
  float: left; }

.left-hand-form-col {
  width: 90%; }

.right-hand-form-col {
  width: 10%; }

.add-project {
  color: #3fe1bf;
  float: right; }

.project-title-input {
  text-align: center;
  color: white; }

.new-project-body, .new-project-title {
  float: left;
  width: 100%; }

.new-project-content {
  margin-top: 14em; }

.close-modal {
  float: right;
  margin-bottom: 3em; }

.close-modal img {
  max-width: 26px;
  width: 100%; }

.search {
  margin-top: 7.125em;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.4s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }

.search-overlay.visible .search {
  opacity: 1;
  transform: translateY(0); }

.search input[type="text"] {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  width: 50%;
  padding: 1em 1em 0.25em 1em;
  margin: 0 auto;
  display: table;
  outline: none;
  font-size: 2em;
  font-family: inherit;
  color: white;
  text-align: center; }

.search-overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(228, 186, 63, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  visibility: hidden; }

.search-overlay.visible {
  transition: opacity 0s 0.5s, visibility 0s 0.5s; }

/**
 * selectize.css (v0.12.0)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
  box-shadow: inset 0 0 12px 4px #ffffff; }

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden; }

.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  background: #f8f8f8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }

.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important; }

.selectize-dropdown-header-close:hover {
  color: #000000; }

.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none; }

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important; }

.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #d0d0d0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05); }

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff; }

.selectize-control {
  position: relative; }

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  -webkit-font-smoothing: inherit; }

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  cursor: text;
  display: inline-block; }

.selectize-input {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important; }

.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 0 0;
  padding: 0.4em 0.8em;
  border-radius: 25px;
  background: #e0e0e0; }

.selectize-control.multi .selectize-input > div.active {
  background: #e8e8e8;
  color: #303030;
  border: 0 solid #cacaca; }

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff; }

.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 1rem; }

.selectize-input > input::-ms-clear {
  display: none; }

.selectize-input > input:focus {
  outline: none !important; }

.selectize-input::after {
  content: ' ';
  display: block;
  clear: left; }

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: white;
  margin: 15px 0 0 0;
  /* border-top: 0 none; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 4px; }

.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden; }

.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px; }

.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none; }

.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #ffffff;
  cursor: default; }

.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68; }

.selectize-dropdown .active.create {
  color: #495c68; }

.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5); }

.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px; }

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer; }

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text; }

.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent; }

.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent; }

.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto; }

.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important; }

.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa; }

/*# sourceMappingURL=style.css.map */
